body {
  background-color: #6c2f8a;
  color: #e6dacd;
  line-height: 1.8;
  font-size: 20px;
  font-family: sans-serif;
}

a {
  color: #d6892c;
}

a:hover {
  color: #ffffff;
}

.code {
  background-color: #000;
  color: #fff;
  width: 90%;
  height: 3em;
  padding: 0.5em;
}
