.moving-ghost {
  position: absolute;
  top: 0;
  left: 0;
  width: 94%;
  width: 94vw;
  height: 94%;
  height: 94vh;
}

.halloween-ghost {
  transform: scale(0.2);
}

.halloween-pumpkin {
  display: inline-block;
  height: 2em;
  margin-right: 0.4em;
  vertical-align: middle;
  width: auto;
}

.halloween-pumpkins {
  display: inline-block;
  height: 2.4em;
  opacity: 0.8;
  vertical-align: text-bottom;
  width: auto;
}
